[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/liquidcarbon"]
	path = bundle/liquidcarbon
	url = https://github.com/vim-scripts/Liquid-Carbon.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
