[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/liquidcarbon"]
	path = bundle/liquidcarbon
	url = https://github.com/vim-scripts/Liquid-Carbon.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "clang_complete"]
	path = clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
